:root {
  /* Ваши цвета */
  --back: #1b1b1b;
  --font: #ffffff;
  --green: #61b76d;
  --grey: #a9a9a9;
  --tran: all 0.3s ease-in-out;
  /*font-size*/
  --font-button: clamp(10px, 2vw, 18px);
  --font-menu: clamp(14px, 2.5vw, 18px);
  --fs-0: clamp(32px, 5vw, 72px);
  --fs-1: clamp(24px, 4vw, 48px);
  --fs-2: clamp(18px, 3vw, 36px);
  --fs-p: clamp(14px, 1vw, 18px);

  /* fonts */
  --font-primary: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-accent: "TTFirsNeue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.element::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar {
  width: 0;
}

html {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* Запрещаем масштабирование на мобильных устройствах */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  touch-action: manipulation;
  /* Оптимизация для предотвращения прыжков шрифтов */
  font-display: fallback;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--font);
  background-color: var(--back);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-primary);
  font-weight: 500;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border-radius: 0;
}
.btn {
  background: var(--green);
  border-style: none;
  color: #fff;
  padding: 0px 70px;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-button);
  cursor: pointer;
  transition: var(--tran);
}
.btn:hover {
  background: #2c8f63;
}

input,
textarea,
.form-project textarea {
  width: 100%;
  padding: 4px 20px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0;
  color: var(--font);
  font-family: var(--font-primary);
  font-size: var(--fs-p);
  font-weight: 400;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  margin: 0;
  resize: none;
}

input::placeholder,
textarea::placeholder,
.form-project textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  /* font-weight: 300; */
  /* font-size: clamp(12px, 0.7vw, 15px); */
}

input:focus,
textarea:focus,
.form-project textarea:focus {
  border-color: var(--green);
  background: rgba(255, 255, 255, 0.039);
}

input:hover,
textarea:hover,
.form-project textarea:hover {
  background: rgba(255, 255, 255, 0.039);
}

h1 {
  font-family: var(--font-accent);
  font-weight: 400;
  color: var(--red);
  font-size: var(--fs-1);
  /* font-size: 35px; */
  line-height: 1.3;
  text-transform: uppercase;
}
h2 {
  font-family: var(--font-accent);
  font-weight: 500;
  color: var(--font);
  font-size: var(--fs-2);
  line-height: 1.7;
}
h3 {
  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--font);
  font-size: 25px;
  line-height: 1.7;
}
p {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--grey);
  font-size: var(--fs-p);
  line-height: 1.5;
}
span {
  font-family: var(--font-primary);
  font-weight: 400;
}
